
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add KeyWord List</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="../static/js/jquery-1.11.2.js"></script>

	<script src="../static/js/jquery.ui.widget.js"></script>

	<script type="text/javascript" src="../static/js/jquery.fileupload.js"></script>
	<script type="text/javascript" src="../static/js/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="../static/js/jquery.fileupload-ui.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

        <script>
		$(function(){
			    $('#fileupload').fileupload({
        			url: 'upload',
        			dataType: 'json',
        			add: function (e, data) {
        				data.submit();
        			},
			        success:function(response,status) {
					console.log(response.filename);
					var filePath = 'static/Uploads/' + response.filename;
					$('#imgUpload').attr('src',filePath);
					$('#filePath').val(filePath);
			        	console.log('success');
			        },
			        error:function(error){
			        	console.log(error);
			        }
    			});
		})
	</script>
  <script>
      $(document).ready(function() {

          var iCnt = 0;
          // CREATE A "DIV" ELEMENT AND DESIGN IT USING jQuery ".css()" CLASS.
          var container = $(document.createElement('div')).css({
              padding: '5px', margin: '20px', width: '170px', border: '1px dashed',
              borderTopColor: '#999', borderBottomColor: '#999',
              borderLeftColor: '#999', borderRightColor: '#999'
          });

          $('#btAdd').click(function() {
              if (iCnt <= 19) {

                  iCnt = iCnt + 1;

                  // ADD TEXTBOX.
                  $(container).append('<input type=text class="input" id=tb' + iCnt + ' ' +
                      'value="Text Element ' + iCnt + '" />');

                  // SHOW SUBMIT BUTTON IF ATLEAST "1" ELEMENT HAS BEEN CREATED.
                  if (iCnt == 1) {
                      var divSubmit = $(document.createElement('div'));
                      $(divSubmit).append('<input type=button class="bt"' +
                          'onclick="GetTextValue()"' +
                              'id=btSubmit value=Submit />');
                  }

                  // ADD BOTH THE DIV ELEMENTS TO THE "main" CONTAINER.
                  $('#main').after(container, divSubmit);
              }
              // AFTER REACHING THE SPECIFIED LIMIT, DISABLE THE "ADD" BUTTON.
              // (20 IS THE LIMIT WE HAVE SET)
              else {
                  $(container).append('<label>Reached the limit</label>');
                  $('#btAdd').attr('class', 'bt-disable');
                  $('#btAdd').attr('disabled', 'disabled');
              }
          });

          // REMOVE ONE ELEMENT PER CLICK.
          $('#btRemove').click(function() {
              if (iCnt != 0) { $('#tb' + iCnt).remove(); iCnt = iCnt - 1; }

              if (iCnt == 0) {
                  $(container)
                      .empty()
                      .remove();

                  $('#btSubmit').remove();
                  $('#btAdd')
                      .removeAttr('disabled')
                      .attr('class', 'bt');
              }
          });

          // REMOVE ALL THE ELEMENTS IN THE CONTAINER.
          $('#btRemoveAll').click(function() {
              $(container)
                  .empty()
                  .remove();

              $('#btSubmit').remove();
              iCnt = 0;

              $('#btAdd')
                  .removeAttr('disabled')
                  .attr('class', 'bt');
          });
      });

      // PICK THE VALUES FROM EACH TEXTBOX WHEN "SUBMIT" BUTTON IS CLICKED.
      var divValue, values = '';

      function GetTextValue() {
          $(divValue)
              .empty()
              .remove();

          values = '';

          $('.input').each(function() {
              divValue = $(document.createElement('div')).css({
                  padding:'5px', width:'200px'
              });
              values += this.value + '<br />'
          });

          $(divValue).append('<p><b>Keywords in this list:</b></p>' + values);
          $('body').append(divValue);
      }
  </script>
    <style>
	.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
    </style>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
	    <li role="presentation"><a href="/showDashboard">Dasboard</a></li>
	     <li role="presentation"><a href="/userHome">Home</a></li>
	    <li role="presentation" class="active"><a href="#">Add Item</a></li>
            <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><img border="0" alt="ReckonAnalytics" src="C:\Users\Deepak\Documents\GitHub\googleAdsAutomations\keywordsGen\logo.png" width="150" height="150"></h3>
      </div>


	<div class="well">
      <form role="form" method="post" action="/addWish">


<!-- Form Name -->
<legend>Add KeyWord List</legend>

<!-- Text input-->
<div class="form-group">
  <label  for="txtTitle">List Iteam Name</label>
  <input id="txtTitle" name="inputTitle" type="text" placeholder="placeholder" class="form-control input-md">
</div>
<div id="main">
        <input type="button" id="btAdd" value="Add Element" class="bt" />
        <input type="button" id="btRemove" value="Remove Element" class="bt" />
        <input type="button" id="btRemoveAll" value="Remove All" class="bt" /><br />
</div>

<!-- Textarea -->
<div class="form-group">
  <label for="txtPost">Description</label>

    <textarea class="form-control" id="txtPost" name="inputDescription" ></textarea>

</div>


<div class="form-group">
  <label for="txtPost">Photos</label>

<div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" id="fileupload" name="file" multiple>
                    </span>
                </span>
		<div class="pull-right">
                <img  id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail"><input type="hidden" name="filePath" id="filePath"></input>
		</div>
            </div>

</div>

<div class="form-group">
<label>Mark this as private and not visible to others.</label><br/>
<input name="private" type="checkbox"> Mark as Private <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
</div>

<div class="form-group">
<label>Have you already accomplished this?</label><br/>
<input name="done" type="checkbox"> Mark as Done <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</div>




<!-- Button -->
<div class="form-group">

    <p class="text-center">
    <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
  	</p>
</div>


</form>

</div>




      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>
