<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GeK(i)AI | Reckon Analytics</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link href="http://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>

  <body>
     <div class="container">
      <div class="header">
        <nav>
           <ul class="nav nav-pills pull-right">
	     	 <li role="presentation" class="active"><a href="/showDashboard">Dasboard</a></li>
             <li role="presentation" ><a href="/userHome">Home</a></li>
	    	<li role="presentation"><a href="/showAddWish">Add Item</a></li>
            <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"> <img src="../static/Uploads/logo.png" alt="Reckon ANalytics Logo" width="200" height="100"></h3>
      </div>

     <div class="container-fluid">
      <div class="row">
       

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h2>Select a list to view generated keywords</h2>

          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              
              <a href="#" class="active"><h4>Tableau List 1</h4> </a>
              
            </div>
            
            <div class="col-6 col-sm-3 placeholder">
              
              <a href="#"><h4>Tableau List 2</h4> </a>
          
            </div>
            <div class="col-6 col-sm-3 placeholder">
             
              <a href="#"><h4>Tableau List 3</h4> </a>
            
            </div>
          </section>

          <h4>Tableau List 1 - Keywords</h4	>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  
                  <th>Keyword</th>
                  <th>Match Type</th>
                  <th>Priority</th>
                  <th>Tail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
    <th>Tableau Training For Beginner</th>
    <th>Exact</th>
    <th>Medium</th>
    <th>4L</th>
  </tr>
  <tr>
    <td>Tableau Tutorials For Beginner</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses For Beginner</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program For Beginner</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules For Beginner</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training For Companies</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials For Companies</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses For Companies</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program For Companies</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules For Companies</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training For Team</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials For Team</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses For Team</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program For Team</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules For Team</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training For Indiviauls</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials For Indiviauls</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses For Indiviauls</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program For Indiviauls</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules For Indiviauls</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training For Graduates</td>
    <td>Exact</td>
    <td>Low</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials For Graduates</td>
    <td>Exact</td>
    <td>Low</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses For Graduates</td>
    <td>Exact</td>
    <td>Low</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program For Graduates</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules For Graduates</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training For Managers</td>
    <td>Exact</td>
    <td>Low</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials For Managers</td>
    <td>Exact</td>
    <td>Low</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses For Managers</td>
    <td>Exact</td>
    <td>Low</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program For Managers</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules For Managers</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training For Analysts</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials For Analysts</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses For Analysts</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program For Analysts</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules For Analysts</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training For Consultant</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials For Consultant</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses For Consultant</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program For Consultant</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules For Consultant</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Dashboard Training</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Visualization Training</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Analytics Training</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Predictive Analytics Training</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Big Data Training</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Data Analytics Training</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Dashboard Tutorials</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Visualization Tutorials</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Analytics Tutorials</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Predictive Analytics Tutorials</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Big Data Tutorials</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Data Analytics Tutorials</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Dashboard Courses</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Visualization Courses</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Analytics Courses</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Predictive Analytics Courses</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Big Data Courses</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Data Analytics Courses</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Dashboard Training Program</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Visualization Training Program</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Analytics Training Program</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Predictive Analytics Training Program</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Big Data Training Program</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Data Analytics Training Program</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Dashboard Training Modules</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Visualization Training Modules</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Analytics Training Modules</td>
    <td>Exact</td>
    <td>Medium</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Predictive Analytics Training Modules</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Big Data Training Modules</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Data Analytics Training Modules</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Online</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials Online</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Courses Online</td>
    <td>Exact</td>
    <td>High</td>
    <td>3L</td>
  </tr>
  <tr>
    <td>Tableau Training Program Online</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules Online</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training On Demand</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials On Demand</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Courses On Demand</td>
    <td>Exact</td>
    <td>High</td>
    <td>4L</td>
  </tr>
  <tr>
    <td>Tableau Training Program On Demand</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules On Demand</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training On the go</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Tutorials On the go</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Courses On the go</td>
    <td>Exact</td>
    <td>Low</td>
    <td>5L</td>
  </tr>
  <tr>
    <td>Tableau Training Program On the go</td>
    <td>Exact</td>
    <td>Low</td>
    <td>6L</td>
  </tr>
  <tr>
    <td>Tableau Training Modules On the go</td>
    <td>Exact</td>
    <td>Low</td>
    <td>6L</td>
  </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
